body.admin:after{
	background: url(../images/bottom-bg.png) no-repeat 50% 0;
    background-size: 100%;
	position:fixed;
	z-index:0;
	bottom:0;
	left:0;
	width:100%;
	height:150px;
	content:"";
}
.header-buttons .switch{
	overflow:hidden;
	border-radius:10px;
	background: rgba(164, 187, 234, 0.1);
	backdrop-filter: blur(15px);
}
.header-buttons .switch a{
	display:block;
	padding:0 10px;
	line-height:28px;
	transition:0.2s all;
	-webkit-transition:0.2s all; 
	-moz-transition:0.2s all;
	font-size:12px;
	font-family: 'VCR OSD Mono';
}
.header-buttons .switch a:hover{
	background:rgba(87, 168, 255, 0.16);
}
.header-buttons .switch a.active{
	background:rgba(87, 168, 255, 0.24);
}
.header-buttons .switch a img{
	height:20px;
	vertical-align:middle;
	margin-right:3px;
}
.admin-header{
	position:relative;
	padding:20px 0 220px;
	overflow:hidden;
}
.admin-header:after{
	position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    content: "";
    background: linear-gradient(180deg, #000 0%, rgba(0,0,0, 0) 100%);
    background-size: 100%;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.hesder-video{
	position:absolute;
	z-index:0;
	left:0;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%); 
	width:100%;
	mix-blend-mode: screen;
	opacity:0.3;
}
.hesder-video video{
	width:100%;
}
.features-menu{
	position:relative;
	margin-bottom:30px;
	background: rgba(164, 187, 234, 0.05);
    backdrop-filter: blur(15px);
    border-radius: 10px;
	z-index:99;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
}
.features-menu > li{
	width:16.66666%;
	position:relative;
	
}
.features-menu > li a{
	text-align:center;
	display:block;
	font-family: 'VCR OSD Mono';
	text-transform:uppercase;
	font-size:16px;
	padding:15px 0;
	transition:0.3s all;
	-webkit-transition:0.3s all; 
	-moz-transition:0.3s all; 
	border-radius:10px;
}
.features-menu > li a:hover{
	color:#57FFC3;
	background: rgba(87,255,195,0.12);
}
.feature-pop{
	width:400px;
	position:absolute;
	top:calc(100% + 15px);
	left:0;
	z-index:9;
	padding:15px;
	border-radius:10px;
	background: #258BF8;
    color: #090909;
	visibility:hidden;
	opacity:0;
	transition:0.4s all;
	-webkit-transition:0.4s all; 
	-moz-transition:0.4s all;
}
.feature-pop:after{
	content:"";
	width:10px;
	height:10px;
	background: #258BF8;
	border-radius:1px;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg); 
	-moz-transform:rotate(45deg); 
	position:absolute;
	top:-5px;
	left:15%;
	
}
.feature-pop h4{
	font-weight:600;
	font-size:15px;
	margin-bottom:10px;
}
.features-menu > li:hover .feature-pop{
	visibility:visible;
	opacity:1;
}
/*top stats*/
.top-stats{
	position:relative;
	margin-top:-150px;
	z-index:99;
	margin-bottom:30px;
}
.card-box{
	padding: 25px;
    background: rgba(164, 187, 234, 0.05);
    backdrop-filter: blur(15px);
    border-radius: 10px;
	box-shadow:0 0 15px rgba(0,0,0,0.4);
}
.card-box.point-1{
	background: rgba(164, 187, 234, 0.1);
}
.card-box-title{
	margin-bottom:30px;
}
.card-box-title > h3{
	font-size:20px;
	text-transform: uppercase;
}
.card-box-title > p{
	color:#98989A;
}
.top-stats-ul{
	margin-left:-10px;
	margin-right:-10px;
}
.top-stats-ul > li{
	float:left;
	width:25%;
	padding-left:10px;
	padding-right:10px;
}
.top-stats-ul > li h4{
	color: #98989A;
    margin-bottom: 10px;
    font-size: 14px;
}
.top-stats-ul > li h3{
	font-size: 20px;
}
.claim-logo{
	position:relative;
	border-radius:10px;
	text-align:center;
	background:rgba(87, 168, 255, 0.16);
	width:110px;
	height:110px;
	line-height:110px;
}
.claim-box-details{
	margin-left:15px;
}
.claim-box-details h4{
	color: #98989A;
    margin-bottom: 10px;
    font-size: 14px;
}
.claim-box-details h3{
	font-size:24px;
	color: #57A8FF;
	margin-bottom:10px;
}
b.ticker{
	
}
/*staking**/
.dashboard-body{
	position:relative;
	z-index:9;
}
.staking-container{
	position:relative;
}
.staking-tabs{
	position:relative;
}
.staking-tabs .tab-links{
	margin-bottom: 15px;
    display: inline-block;
    background: rgba(164, 187, 234, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    overflow: hidden;
}
.tab-links > li {
    float: left;
}
.tab-links > li > a {
    display: block;
    font-family: 'VCR OSD Mono';
    text-align: center;
    text-decoration: none;
    padding: 0 25px;
	line-height:28px;
    font-size: 14px;
	text-transform:uppercase;
	color: #98989A;
	transition:0.3s all;
	-webkit-transition:0.3s all; 
	-moz-transition:0.3s all;
}
.tab-links > li > a:hover,
.tab-links > li.active > a{
	background-color:#fff;
	color:#000;
}
.tab{
	display:none;
}
.tab.active{
	display:block;
}
.staking-wrap{
	border-radius:10px;
	background: rgba(164, 187, 234, 0.1);
	padding:30px;
	backdrop-filter:blur(15px);
}
.staking-top{
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom:20px;
}
.s-title{
	position:relative;
	padding-left:65px;
}
.s-title i{
	font-style:normal;
	font-size:24px;
	display:block;
	text-align:center;
	width:50px;
	height:50px;
	line-height:50px;
	background: #57A8FF;
    color: #090909;
	vertical-align:middle;
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	font-family: 'VCR OSD Mono';
}
.s-title span{
	font-weight:600;
	font-size:14px;
}
.s-title b{
	display:block;
	color:rgba(255,255,255,0.75);
	font-weight:400;
	font-size:12px;
}
.s-data{
	text-align:center;
}
.s-data h4{
	color:rgba(241,245,249,0.75);
	font-weight:400;
	font-size:12px;
	margin-bottom:3px;
}
.s-data h5{
	color:#57A8FF;
	font-weight:600;
	font-size:18px;
}
.s-data h5 b{
	font-size:13px;
}
.staking-field{
	padding:15px;
	border-radius:10px;
	background:rgba(87, 168, 255, 0.16);
}
.staking-titles{
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin-top:10px;
}
.staking-titles > div{
	opacity:0.6;
	font-size:12px;
}
.staking-form{
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.token-ticker{
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:14px;
}
.token-ticker img{
	height:40px;
}
.staking-form .input-box{
	width:300px;
	position:relative;
}
.staking-form .input-box input{
	padding-right:50px;
	line-height:40px;
	display:block;
	width:100%;
	border:none;
	outline:none;
	font-weight:600;
	font-size:30px;
	background:transparent;
	text-align:right;
	color:#fff;
}
.staking-form .input-box input::placeholder{
	color:rgba(255,255,255,0.6);
}
span.max{
	position:absolute;
	right:0;
	top:8px;
	padding:5px 8px;
	border:1px solid rgba(87, 168, 255, 0.24);
	background:rgba(87, 168, 255, 0.16);
	font-size:11px;
	line-height:1.1;
	display:inline-block;
	border-radius:4px;
	font-weight:500;
	cursor:pointer;
	color:#57A8FF;
}
.staking-button{
	margin-top:12px;
}
.staking-button.half{
	margin-left:-6px;
	margin-right:-6px;
}
.s-button{
	float:left;
	width:50%;
	padding:0 6px;
}
.btn.full{
	width:100%;
}
.box-o-title{
	font-size: 16px;
	line-height:28px;
	margin-bottom:15px;
	text-transform:uppercase;
}
.stat-list > li{
	position:relative;
	margin-bottom:15px;
}
.stat-list > li:last-child{
	margin-bottom:0;
}
.stat-details h4{
	color: #98989A;
    margin-bottom: 5px;
    font-size: 14px;
}
.stat-details h3{
	font-size: 18px;
}
.stat-icon{
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	border-radius:10px;
	margin-right:15px;
	background: rgba(87, 168, 255, 0.16);
}
.stat-icon img{
	width:30px;
}
/*referral page*/
.referral-link{
	margin-top:30px;
}
.link-box {
    border-radius: 6px;
    background:  rgba(87, 168, 255, 0.16);
    border: 1px solid  #57A8FF;
    width:100%;
    overflow: hidden;
}
.link-title {
    padding: 16px 15px;
    background: #57A8FF;
    color: #090909;
	font-size:12px;
    margin-right: 20px;
    border-radius: 0 6px 6px 0;
}
.r-link {
    font-size: 15px;
	color:#57A8FF;
}
.link-box .btn {
    margin-left: auto;
    margin-right: 10px;
}
.current-level{
	margin-top:30px;
}
.level-list{
	list-style:none;
	position:relative;
	margin-left:-7px;
	margin-right:-7px;
	color:#fff;
}
.level-list > li{
	float:left;
	width:20%;
	padding:0 7px;
	margin:7px 0;
}
.level-box{
	position:relative;
	padding:20px;
	background: rgba(164, 187, 234, 0.05);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.level-box.active{
	background:rgba(164, 187, 234, 0.15);
}
.level-box h3{
	font-size:50px;
	margin-bottom:15px;
}
.level-box h3 span{
	font-size:24px;
	margin-left:3px;
}
.level-box h3 b{
	font-weight:400;
	font-size:18px;
	margin-left:5px;
}
.turnover{
	
	
}
.turnover b{
	font-weight:400;
	color:#57A8FF;
}
.level{
	
	background: rgba(87, 255, 195, 0.12);
    color: #57FFC3;
	border-radius:4px;
	font-size:12px;
	line-height:30px;
	text-transform:uppercase;
	padding:0 15px;
	text-align:center;
	margin-top:25px;
}
.level.silver{
	background: rgba(192, 192, 192 , 0.12);
    color: #C0C0C0;
}
.level.bronze{
	background: rgba(205, 127, 50 , 0.12);
    color: #CD7F32;
}
.level.gold{
	background: rgba(255, 215, 0 , 0.12);
    color: #FFD700;
}
.level.platinum{
	background: rgba(229, 228, 226 , 0.12);
    color: #E5E4E2;
}
.referal-no {
    font-size: 13px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    line-height: 24px;
    padding: 0 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}
.ref-status {
    position: absolute;
    right: 20px;
    top: 12px;
}
.finished-badge {
    font-size:12px;
}
.finished-badge.active{
	color:#57FFC3;
}
.finished-badge.locked{
	opacity:0.4;
}
.finished-badge i{
	font-size:14px;
	margin-right:2px;
}
/*transactions*/
.filter-wrapper > h3,
.transactions > h3 {
    font-size: 20px;
    text-transform: uppercase;
	margin-bottom:30px;
}
.filter-list{
	position:relative;
	list-style:none;
}
.filter-list > li{
	margin-bottom:10px;
}
.filter-list > li:last-child{
	margin-right:0;
}
.filter-box{
	position:relative;
}
.filter-box input{
	display:none;
}
.filter-box label{
	font-size:14px;
	line-height:24px;
	padding:10px 15px 10px 40px;
	position:relative;
	cursor:pointer;
	background:rgba(164, 187, 234, 0.15);
	border-radius:4px;
	display:block;
}
.filter-box label span{
	display:block;
	width:20px;
	height:20px;
	border:2px solid rgba(255,255,255,0.25);
	border-radius:100%;
	position:absolute;
	left:12px;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%); 
	-moz-transform:translateY(-50%);
}
.filter-box input:checked + label{
	background: rgba(87, 255, 195, 0.12);
   
    color: #57FFC3;
}
.filter-box input:checked + label span{
	border-color:#57FFC3;
	text-align:center;
	font-size:9px;
	line-height:16px;
}
.filter-box input:checked + label span:after{
	content: "\f00c";
	font-family: 'Font Awesome 6 Free';
    font-weight: 900;
}
.transaction-list{
	position:relative;
}
.transaction-list li{
	margin-bottom:10px;
	position:relative;
}
.transaction-list li:last-child{
	margin-bottom:0;
}
.trans-item{
	padding:20px;
	background: rgba(164, 187, 234, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
}
.trans-icon{
	height:30px;
	margin-right:12px;
}
.trans-amount{
	font-size:18px;
	font-family: 'VCR OSD Mono';
}
.green{
	color:#57FFC3;
}
.red{
	color:#FF7355;
}
.trans-amount span{
	color:#fff;
	opacity:0.5;
	font-size:13px;
}